<section data-bind="with: Library">
    <header>
        <h1 data-bind="html: displayName" class="row-fluid"></h1>
    </header>

    <section class="row-fluid">
        <section id="search-pane" class="span9">
            <form class="form-search" data-bind="submit:search">
                <input type="text" class="search-query" placeholder="Rechercher" data-bind="value: searchTerm">
            </form>
            <div>
                <h4>Résultats :</h4>
                <ul data-bind="foreach: foundedSeries">
                    <li>
                        <header>
                            <span data-bind="html: name" class="lead"></span>
                            <button data-bind="click: $root.Library.addSerie"
                                class="btn btn-small pull-right">
                                Ajouter <i class="icon-forward"></i>
                            </button>
                        </header>
                        <p data-bind="html: description"></p>
                    </li>
                </ul>
            </div>
        </section>

        <section id="library-pane" class="span3">
            <h4>Bibliothèque :</h4>
            <ul data-bind="foreach: followedSeries">
                <li>
                    <span data-bind="html: name"></span>
                </li>
            </ul>
        </section>
    </section>
</section>
